@charset "utf-8";
body{
    text-align: center;
    background-color: blue;
    
}
h1{
    color: white;
}
section{
    text-align: justify;
    padding: 15px;
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0,363);
}
select#flista{
    width: 150px;
}
footer p {
    color: white;
}